<p style="color: green"><%= notice %></p>

<h1>Presences</h1>


<div id="presences">
  <% @presences.each do |presence| %>
    <%= render presence %>
    <p>
      <%= link_to "Show this presence", presence %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "New presence", new_presence_path %>
