<p style="color: green"><%= notice %></p>

<h1>Présences</h1>


<div id="presences">
  <% @presences.each do |presence| %>
    <%= render presence %>
    <p>
      <%= link_to "Voir", presence %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "Nouvelle présence", new_presence_path %>
