<p class="mb-4" style="color: green"><%= notice %></p>

<div>
  <h1 class="text-4xl font-bold mb-8">Émargements / Présences</h1>
</div>

<div id="presences" class="flex flex-wrap gap-4 justify-between px-12 mb-12">
  <% @presences.each do |presence| %>
    <%= render presence %>
  <% end %>
</div>

<%= link_to presences_path(format: :xls), class: "text-success hover:underline mb-12" do %>
  Exporter vers Excel
<% end %>