<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Nouvelle Session", new_session_path, class:'btn btn-success btn-lg float-end' %>
  <h1 class="text-4xl font-bold mb-6">Sessions</h1>
</div>

<div id="sessions">
  <% @sessions.each do |session| %>
    <%= render session %>
    <p>
      <%= link_to "Voir", session, class:'btn btn-sm mt-2 mb-6' %>
    </p>
  <% end %>
</div>