<div class="flex flex-col h-screen justify-center gap-8 -mt-12">
  <%= link_to "Assemblées", assemblees_path, class: 'btn btn-lg' %>
  <%= link_to "Utilisateurs", users_path, class: 'btn btn-lg' %>
  <%= link_to "Émargements", presences_path, class: 'btn btn-lg' %>
  <% if policy(:admin).index? %>
    <%= link_to "Nouvel Émargement", admin_signature_path, class: 'btn btn-primary btn-lg' %>
  <% end %>
</div>