<div class="flex flex-col h-screen justify-center gap-8 -mt-12">
  <%= link_to "Assemblées", assemblees_path, class: 'btn btn-lg' %>
  <%= link_to "Participants", participants_path, class: 'btn btn-lg' %>
  <%= link_to "Émargements", presences_path, class: 'btn btn-lg' %>
  <% if policy(:admin).index? %>
    <%= link_to "Nouvel Émargement", new_presence_path, class: 'btn btn-success btn-lg' %>
  <% end %>
</div>