<h1 class="text-4xl font-bold mb-4 text-center">Compte PREMIUM</h1>

<div class="flex flex-wrap justify-center">
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="text-center font-black text-2xl mb-8">
        Vos avantages
        <% if current_user.premium? && current_user.organisation.expiration_premium %>
          <br>
          <span class="text-sm text-gray-500">jusqu'au <%= l current_user.organisation.expiration_premium, format: :custom2 %></span>
        <% end %>
      </h2>
      <p>Nombre de participants illimité</p>
      <p>Envoi automatique du lien à tous les participants avant le début de l'assemblée</p>
      <p>Enlève des convocations le lien d'auto-promotion</p>
      <p>Historique des mails envoyés via MailGun, avec Statut et État consultables pendant 5 jours</p>
      <p>Audit trail. Journal des modifications de données (connexions, signatures, participants, ...)</p>
      <p>Propositions d'itinéraires sur les convocations, avec plusieurs modalités de transport et les bilans carbone (à venir)</p>

      <% unless current_user.premium? %>
        <div class="flex flex-wrap mt-8 justify-around items-center gap-8">
          <%= link_to "Payer avec PayPal", "https://www.paypal.com/ncp/payment/RLKRFJG5SD4M6", class: 'btn btn-primary btn-outline btn-lg hover:!text-white' %>
          <%= image_tag "Compte PREMIUM-qrcode.png" %>
          <p>
            <%= link_to "Philippe NOUGAILLON (Consulting IT)", "https://www.philnoug.com/", class: 'underline' %>
            <br><br>
            Pôle de développement de l’entrepreneuriat<br>
            de l’EPT Grand Paris Grand Est<br>
            106-112 allée Notre Dame des Anges,<br>
            93370 Montfermeil<br>
            Siret : 384 396 719 00047
          </p>
        </div>
      <% end %>

    </div>
  </div>

</div>