<h1 class="text-4xl font-bold my-8 text-center">
  <%= page_title!("Offre PREMIUM") %>
  <span class="material-symbols-outlined text-primary">
    verified
  </span>
</h1>

<div class="flex flex-wrap justify-center">
  <div class="card bg-base-100 shadow-lg">
    <div class="card-body">
      <h2 class="text-center font-black text-2xl mb-8">
        <% if current_user.premium? && current_user.organisation.expiration_premium %>
          <span class="text-gray-500">
            Vos avantages jusqu'au 
            <%= l current_user.organisation.expiration_premium, format: :custom2 %>
          </span>
        <% else %>
          <span class="text-primary">
            Tous les avantages d'avoir un compte 'PREMIUM' :
          </span>
        <% end %>
      </h2>

      <p>
        <span class="badge badge-primary badge-xs"></span> 
        Nombre de participants <b>illimité</b> (au lieu de 50 avec l'offre gratuite)  
      </p>
      <p>
        <span class="badge badge-primary badge-xs"></span> 
        <b>Support technique</b> par email à J+1
      </p>
      <p>
        <span class="badge badge-primary badge-xs"></span> 
        Accès à l'AUDIT TRAIL, <b>historique des modifications</b> de données (assemblées, participants, signatures, connexions, ...)
      </p>
      <p>
        <span class="badge badge-primary badge-xs"></span> 
        MAIL LOGS : <b>conservation permanente des statuts</b> d'acheminement et d'ouverture des emails envoyés.
      </p>
      <p>
        <span class="badge badge-primary badge-xs"></span> 
        <b>Détections des anomalies par l'IA (fausses signatures, usages inhabituels, etc.)</b>
      </p>
      <p>
        <span class="badge badge-primary badge-xs"></span> 
        Tarif unique : 99 €/Année/Organisation
      </p>

      <%= link_to "Nous contacter", "https://www.philnoug.com/contact?objet=Émargements", class: 'mt-6 underline text-2xl text-primary', target:"_blank" %>
    </div>
  </div>
</div>