<h1 class="text-4xl font-bold mb-4 text-center">Compte PREMIUM</h1>

<div class="flex flex-wrap justify-center">
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="text-center font-black text-2xl mb-8">Vos avantages</h2>
      <p>Nombre de participants illimité</p>
      <p>Envoi automatique du lien à tous les participants avant le début de l'assemblée</p>
      <p>Propositions d'itinéraires sur les convocations, avec plusieurs modalités de transport et les bilans carbone</p>
      <p>Enlève des convocations le lien d'auto-promotion</p>
      <div class="flex flex-wrap mt-8 justify-around items-center">
        <%= link_to "Payer avec PayPal", "https://www.paypal.com/ncp/payment/RLKRFJG5SD4M6", class: 'btn btn-primary btn-outline btn-lg hover:!text-white' %>
        <%= image_tag "Compte PREMIUM-qrcode.png" %>
      </div>
    </div>
  </div>

</div>