<div class="mx-auto md:w-1/4 w-full">

  <h1 class="text-4xl font-bold mb-6">Mon Organisation</h1>

  <div class="max-w-96">
    <%= render "form", organisation: @organisation %>
  </div>

  <%= link_to "Retour", request.referrer, class: "btn btn-sm" %>

</div>