<div class="mx-auto md:w-1/4 shadow p-8 w-full">

  <h1 class="text-4xl font-bold mb-6">
    <%= page_title!("Mon Organisation") %>
  </h1>

  <div class="max-w-96">
    <%= render "form", organisation: @organisation %>
  </div>

</div>