<div class="mx-auto md:w-1/2 shadow p-8 w-full">

  <h1 class="text-4xl font-bold my-6">
    <%= page_title!("Mon Organisation") %>
  </h1>

  <div class="">
    <%= render "form", organisation: @organisation %>
  </div>

</div>