<div class="navbar bg-white shadow sticky top-0 z-10">
  <div class="flex-1">
    <%= link_to user_signed_in? && current_user.admin? ? admin_index_path : new_user_session_path, class: 'flex items-center' do %>
      <% if user_signed_in? && current_user.organisation.logo.attached? %>
        <%= image_tag(current_user.organisation.logo, width: 80, alt:'', class:"mr-2") %>
      <% else %>
        <span class="material-symbols-outlined !text-4xl">
          history_edu
        </span>
      <% end %>
      <span class="hidden sm:block font-bold pl-2 text-primary text-2xl">Émargements</span>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div class="flex-none hidden md:flex">
      <ul class="menu menu-horizontal px-1 items-center gap-4">
        <%= render partial: 'partials/navbar_items' %>
      </ul>
    </div>
    <div class="dropdown dropdown-end md:!hidden">
      <label tabindex="0" class="btn btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/></svg>
      </label>
      <ul tabindex="0" class="menu dropdown-content mt-3 shadow-xl bg-base-100 rounded-box w-52">
        <%= render partial: 'partials/navbar_items' %>
      </ul>
    </div>
  <% end %>
</div>