<div class="navbar bg-base-300">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Émargements</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 gap-4">
      <% if user_signed_in? %>
        <li>
          <p class="!p-1.5"><%= current_user.email %></p>
        </li>
      <% end %>
      <% if current_user.admin? %>
        <li>
          <%= link_to "Admin", admin_index_path, class: 'btn btn-sm' %>
        </li>
      <% end %>
      <li>
        <%= button_to destroy_user_session_path, method: :delete, title: "Fermer la session de #{current_user.email}", form_class: '!p-0', class:'h-full' do %>
          <span class="btn btn-ghost btn-sm font-normal">
            Déconnexion
          </span>
        <% end %> 
      </li>
    </ul>
  </div>
</div>