<div class="timeline-<%= start ? 'start' : 'end' %> timeline-box">
  <%= link_to assemblee_path(assemblee) do %>
    <b><%= assemblee.nom.humanize %></b>
    <br>
    <%= assemblee.horaires %>
  <% end %>
</div>