<p style="color: green"><%= notice %></p>

<h1 class="text-4xl font-bold mb-6">Participants</h1>

<div id="participants">
  <% @participants.each do |participant| %>
    <%= render participant %>
    <p>
      <%= link_to "Voir", participant, class:'btn btn-sm mt-2 mb-6' %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "Nouveau participant", new_participant_path, class:'btn btn-success btn-sm' %>
