/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.wrapper {
  position: relative;
  width: 600px;
  height: 300px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.notice {
  animation-name: example;
  animation-delay: 10s;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}


@keyframes example {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.badge{
  border-color: #5897fb !important;
  background-color: #5897fb !important;
  color: white !important;
  border-radius: 4px !important;
}