<div class="mx-auto md:w-1/4 w-full">
  <h1 class="text-4xl font-bold mb-6 text-nowrap">Modification Assemblée</h1>

  <div class="max-w-96 md:max-w-lg">
    <%= render "form", assemblee: @assemblee %>
  </div>

  <br>

  <div>
    <%= link_to "Retour", assemblees_path, class:'btn btn-sm' %>
  </div>
</div>