<div>
  <%= link_to "Nouvelle Assemblée", new_assemblee_path, class:'btn btn-primary btn-lg float-end' %>
  <h1 class="text-4xl font-bold mb-8">Assemblées</h1>
</div>

<div id="assemblees">
  <% @assemblees.each do |assemblee| %>
    <%= render assemblee %>
  <% end %>
</div>