<div class="mb-12">
  <%= link_to "Nouvelle Assemblée", new_assemblee_path, class:'btn btn-primary btn-outline btn-lg float-end hover:shadow-xl hover:!text-white' %>
  <h1 class="text-4xl font-bold">Assemblées</h1>
</div>

<div id="assemblees">
  <% @assemblees.each do |assemblee| %>
    <%= render assemblee %>
  <% end %>
</div>